<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minor Character - Leah</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="grid-container">
        <div>
            <h1>Writeup</h1>
            <p>
                Leah's story is recorded in genesis chapters 29 to 31 as a part of Jacob's story. 
                She was Jacob's first wife; although, 
                Jacob originally fell in love with Rachel but was tricked into marrying Leah.
                Leah is constantly portrayed in the shadow. The only thing she stands out for is her "kind" eyes.
            </p>
            <p>
                God demonstrates his <i>goodness</i> with the story of Leah. Despite the fact that Jacob loved Rachel more than Leah,
                the Lord decided to help <i>her</i> by giving <i>her</i> the most children out of all of Jacob's wives.
                A large portion of Leah's narrative points towords a conflict between Rachel and Leah for Jacob's attention; 
                this gives Leah a better chance for Jacob's attention.
            </p>
            <p>
                A competitive  and selfish atribute to humans might be revealed in the story of Leah.
                Leah and Rechal both wanted Jacob for themselves. Each of them wanted more children with Jacob,
                so that he would pay them more attention. God gave Leah more children with 6 sons and 1 daughter, 
                and Rechal only had 2 sons.
            </p>
            <p>
                This product depicts a little race between a snail and a centipede using a pixel art image.
                In this race, the snail is ahead; this represents that God gave Leah more children
                despite the fact that Jacob loved Rachel more than Leah. The centipede looks like it should
                win on the outside. The light source of this image is also closer to the snail,
                representing how God was closer to Leah.
            </p>
        </div>
        <div>
            <h1>Product</h1>
            <img src="{{ url_for('static', filename='product.png') }}">
        </div>
    </div>
</body>
</html>
